.env.local
.cache
assets
bottom
Capacities
Keet
Keet-Internal
pear
VSCodium/**
!VSCodium/User/
!VSCodium/User/settings.json
!VSCodium/User/keybindings.json
dconf
Signal Beta
weechat/*
!weechat/weechat.conf
mimeapps.list
pavucontrol.ini
pulse
systemd
vivaldi
zsh/.z
zsh/.zhistory
zsh/.zsh_history
zsh/.zcompdump
zsh/history
zsh/db.zo
bookmarks
settings.ini
rclone/rclone.conf
**/node_modules/
pi/auth.json
pi/sessions/
pi/npm/
pi/bin/
